body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-top: 50px;
}

.details {
    margin-top: 50px;
    font-size: 1.2em;
}

.details span {
    font-weight: bold;
}

.simulator-button {
    display: inline-block;
    margin-top: 50px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    margin-right: 20px;
}

.inquiry-button {
    display: inline-block;
    margin-top: 50px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
}

.contact-info {
    margin-top: 100px;
    font-size: 1.2em;
}