<!doctype html>
<html>
  <head>
    <title>Cars</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="cars.css" />
    <link rel="stylesheet" href="./animation.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="parent-div">
      <div class="cars-1-1072" id="id-23646">
        <div class="bmw-m2-1-4154" id="id-236156">
          <span class="bmw-m2-1-4154-0">BMW M2</span>
        </div>
        <div class="bmw-m2-2-3698" id="id-236157">
          <span class="bmw-m2-2-3698-0">BMW M2</span>
        </div>
        <div class="frame-16-1-4380" id="id-236144">
          <div class="image-7-1-3648" id="id-236145">
            <div class="nodeBg-236145" id="id-bg-236145"></div>
          </div>
        </div>
        <div class="frame-17-1-860" id="id-236146">
          <div class="image-7-1-1632" id="id-236147">
            <div class="nodeBg-236147" id="id-bg-236147"></div>
          </div>
        </div>
        <div class="frame-18-1-918" id="id-236148">
          <div class="image-8-1-310" id="id-236149">
            <div class="nodeBg-236149" id="id-bg-236149"></div>
          </div>
        </div>
        <div class="frame-19-1-4264" id="id-236150">
          <div class="image-8-1-4399" id="id-236151">
            <div class="nodeBg-236151" id="id-bg-236151"></div>
          </div>
        </div>
        <div class="frame-20-1-1557" id="id-236152">
          <div class="image-9-1-168" id="id-236153">
            <div class="nodeBg-236153" id="id-bg-236153"></div>
          </div>
        </div>
        <div class="frame-21-1-1470" id="id-236154">
          <div class="image-9-1-2304" id="id-236155">
            <div class="nodeBg-236155" id="id-bg-236155"></div>
          </div>
        </div>
        <div class="frame-14-1-1452" id="id-236130">
          <div class="new-car-1-1470" id="id-236131">
            <span class="new-car-1-1470-0">New Car</span>
          </div>
          <div class="lamborghini-hur-1-715" id="id-236135">
            <span class="lamborghini-hur-1-715-0"
              >Lamborghini &nbsp;Huracan</span
            >
          </div>
          <div class="lotus-evija-1-3276" id="id-236136">
            <span class="lotus-evija-1-3276-0">Lotus Evija</span>
          </div>
          <div class="group-18-1-1846" id="id-236132">
            <div class="rectangle-4152-1-2552" id="id-236133"></div>
            <div class="discover-more-1-1134" id="id-236134">
              <span class="discover-more-1-1134-0">Discover More</span>
            </div>
          </div>
        </div>
        <div class="frame-15-1-1260" id="id-236137">
          <div class="new-car-1-966" id="id-236138">
            <span class="new-car-1-966-0">New Car</span>
          </div>
          <div class="lamborghini-hur-1-1006" id="id-236142">
            <span class="lamborghini-hur-1-1006-0"
              >Lamborghini &nbsp;Huracan</span
            >
          </div>
          <div class="lotus-evija-1-2614" id="id-236143">
            <span class="lotus-evija-1-2614-0">Lotus Evija</span>
          </div>
          </div>
        </div>
      </div>
    </div>
    <script src="scripts.js"></script>
  </body>
</html>
