.parent-div {
    width: 1728px;
    height: 1117px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .cars-1-1072 {
    position: absolute;
    width: 1728px;
    height: 1117px;
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index: 1;
    transform: rotate(0deg);
    overflow: hidden;
    border-radius: 0px 0px 0px 0px;
    background: #ffffffff;
  }
  .bmw-m2-1-4154 {
    position: absolute;
    width: 125px;
    height: 45px;
    top: 684px;
    left: 132px;
    opacity: 1;
    z-index: 8;
    transform: rotate(0deg);
    text-align: left;
    line-height: 0px;
  }
  .bmw-m2-1-4154-0 {
    font-size: 29px;
    font-family: Poppins;
    font-weight: 400;
  
    text-decoration: none;
    text-transform: none;
  
    line-height: 30px;
    color: #000000ff;
  }
  
  .bmw-m2-2-3698 {
    position: absolute;
    width: 125px;
    height: 45px;
    top: 684px;
    left: 132px;
    opacity: 1;
    z-index: 9;
    transform: rotate(0deg);
    text-align: left;
    line-height: 0px;
  }
  .bmw-m2-2-3698-0 {
    font-size: 29px;
    font-family: Poppins;
    font-weight: 400;
  
    text-decoration: none;
    text-transform: none;
  
    line-height: 30px;
    color: #000000ff;
  }
  
  .frame-16-1-4380 {
    position: absolute;
    width: 350px;
    height: 350px;
    top: 319px;
    left: 132px;
    opacity: 1;
    z-index: 2;
    transform: rotate(0deg);
    overflow: hidden;
    border-radius: 0px 0px 0px 0px;
  }
  .nodeBg-236145 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://s3-alpha-sig.figma.com/img/0ae0/31b6/8fc40b0a4cf7295a27e233fbac435c90?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=K30qHy-pl45XHwhh3GJdEEBSBQ1ccnX3yWE2Of2-3H~0UJ8CTrdEe2KGFpdFt53tqUmVjgIf0pzrO2adXJPzd8kyIonHt5HOUzhdwlfd1KEq5U~WKFwNNc5jqjgwyVNE01goskQXPANeH0AtGhqHn01EGLqRj0yMDAYxO3lPOuatmv5tLlRfCs9iP30S1FaOll74MKeHd2nLkua9i6XaQektSUSh2H7fJMPTzRkeH5cXHoKsHLF2SRvgdVm6jRD9tEK1uvYzvfvwjePNx3DLLJok7xsgmp3Kvk-aptMRaDg97IVdBatDzh~AvHVxx5oYFQsXa9xMkNvfJ7fLQxbSDA__");
    opacity: 1;
  }
  .image-7-1-3648 {
    position: absolute;
    width: 568px;
    height: 371px;
    top: -21px;
    left: -125px;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
    border-radius: 0px 0px 0px 0px;
  }
  .frame-17-1-860 {
    position: absolute;
    width: 350px;
    height: 350px;
    top: 319px;
    left: 132px;
    opacity: 1;
    z-index: 3;
    transform: rotate(0deg);
    overflow: hidden;
    border-radius: 0px 0px 0px 0px;
  }
  .nodeBg-236147 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://s3-alpha-sig.figma.com/img/0ae0/31b6/8fc40b0a4cf7295a27e233fbac435c90?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=K30qHy-pl45XHwhh3GJdEEBSBQ1ccnX3yWE2Of2-3H~0UJ8CTrdEe2KGFpdFt53tqUmVjgIf0pzrO2adXJPzd8kyIonHt5HOUzhdwlfd1KEq5U~WKFwNNc5jqjgwyVNE01goskQXPANeH0AtGhqHn01EGLqRj0yMDAYxO3lPOuatmv5tLlRfCs9iP30S1FaOll74MKeHd2nLkua9i6XaQektSUSh2H7fJMPTzRkeH5cXHoKsHLF2SRvgdVm6jRD9tEK1uvYzvfvwjePNx3DLLJok7xsgmp3Kvk-aptMRaDg97IVdBatDzh~AvHVxx5oYFQsXa9xMkNvfJ7fLQxbSDA__");
    opacity: 1;
  }
  .image-7-1-1632 {
    position: absolute;
    width: 568px;
    height: 371px;
    top: -21px;
    left: -125px;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
    border-radius: 0px 0px 0px 0px;
  }
  .frame-18-1-918 {
    position: absolute;
    width: 350px;
    height: 350px;
    top: 319px;
    left: 696px;
    opacity: 1;
    z-index: 4;
    transform: rotate(0deg);
    overflow: hidden;
    border-radius: 0px 0px 0px 0px;
  }
  .nodeBg-236149 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://s3-alpha-sig.figma.com/img/ad2e/7948/e8968350a893f1773e18b0e0be9302db?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=J-Aruo2Q8qRDiczOTChNfiq4ayGCu9NLSdvFF4PMvTc9MkjmJjk3YkZvH0gpbvDIOMJbRmwrWXCBzxqbL5CelMlrSp0qGjQN0ko~dWEni9jtenh1kE9ittUO~EoDncdJh5vkAZ9ZS60wOXIIqSxngTxyNZG63XAht1vvhjEi4EzJ3f0cmjFDL0p7Z7X2EpQk72noE0GgohDAu0e8ceq1u27JOy4Nc0CJPai2-hq2wB-XqtzTnsH49Gu5FfZYpyWv3qt6Ky7671EAy-yVMWsH3DxZkYEdCLtl4YyiP1tqePYKq9Y-goNeSPIbCEdvRGYngVH~KHFCkSnsAjSqWaoD6w__");
    opacity: 1;
  }
  .image-8-1-310 {
    position: absolute;
    width: 350px;
    height: 350px;
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
    border-radius: 0px 0px 0px 0px;
  }
  .frame-19-1-4264 {
    position: absolute;
    width: 350px;
    height: 350px;
    top: 319px;
    left: 696px;
    opacity: 1;
    z-index: 5;
    transform: rotate(0deg);
    overflow: hidden;
    border-radius: 0px 0px 0px 0px;
  }
  .nodeBg-236151 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://s3-alpha-sig.figma.com/img/ad2e/7948/e8968350a893f1773e18b0e0be9302db?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=J-Aruo2Q8qRDiczOTChNfiq4ayGCu9NLSdvFF4PMvTc9MkjmJjk3YkZvH0gpbvDIOMJbRmwrWXCBzxqbL5CelMlrSp0qGjQN0ko~dWEni9jtenh1kE9ittUO~EoDncdJh5vkAZ9ZS60wOXIIqSxngTxyNZG63XAht1vvhjEi4EzJ3f0cmjFDL0p7Z7X2EpQk72noE0GgohDAu0e8ceq1u27JOy4Nc0CJPai2-hq2wB-XqtzTnsH49Gu5FfZYpyWv3qt6Ky7671EAy-yVMWsH3DxZkYEdCLtl4YyiP1tqePYKq9Y-goNeSPIbCEdvRGYngVH~KHFCkSnsAjSqWaoD6w__");
    opacity: 1;
  }
  .image-8-1-4399 {
    position: absolute;
    width: 350px;
    height: 350px;
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
    border-radius: 0px 0px 0px 0px;
  }
  .frame-20-1-1557 {
    position: absolute;
    width: 350px;
    height: 350px;
    top: 319px;
    left: 1260px;
    opacity: 1;
    z-index: 6;
    transform: rotate(0deg);
    overflow: hidden;
    border-radius: 0px 0px 0px 0px;
  }
  .nodeBg-236153 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://s3-alpha-sig.figma.com/img/0a17/59a3/c3f641e263d6cdd89992ee56a7d48304?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=nrqeRKriWYwrhCRqzufol0Ei9w9YSCPebDRf179podp8mFSlMDGxJWh7os-uxqipytOLjn98k4~GL4V9z44dNGXzCToyCcJkx5tSn0WL5PNmVGKY4Pl0DAHG7sgtxKj3xMc~YgrLKIzkwp1zU7oncNJDgFvf~qN2uLgTN89Rp8qWqd5k7DqXD5WZU-lsMDlHXjr5v-Go23tfKRZUhhBM2yEuZF5YBykTXiFwBtHkFPrsWwZ2ZOc2XxiYxiYwld~L2tPcHX4zzjk6Ta-tF1FNQKgQUDrZgVsgFRmhKzuJ~-3~-4ASqEitxyy2bQLTavLFcLQ6PP0zv4e3EHDkS9E5xQ__");
    opacity: 1;
  }
  .image-9-1-168 {
    position: absolute;
    width: 482px;
    height: 350px;
    top: 0px;
    left: -132px;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
    border-radius: 0px 0px 0px 0px;
  }
  .frame-21-1-1470 {
    position: absolute;
    width: 350px;
    height: 350px;
    top: 319px;
    left: 1260px;
    opacity: 1;
    z-index: 7;
    transform: rotate(0deg);
    overflow: hidden;
    border-radius: 0px 0px 0px 0px;
  }
  .nodeBg-236155 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://s3-alpha-sig.figma.com/img/0a17/59a3/c3f641e263d6cdd89992ee56a7d48304?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=nrqeRKriWYwrhCRqzufol0Ei9w9YSCPebDRf179podp8mFSlMDGxJWh7os-uxqipytOLjn98k4~GL4V9z44dNGXzCToyCcJkx5tSn0WL5PNmVGKY4Pl0DAHG7sgtxKj3xMc~YgrLKIzkwp1zU7oncNJDgFvf~qN2uLgTN89Rp8qWqd5k7DqXD5WZU-lsMDlHXjr5v-Go23tfKRZUhhBM2yEuZF5YBykTXiFwBtHkFPrsWwZ2ZOc2XxiYxiYwld~L2tPcHX4zzjk6Ta-tF1FNQKgQUDrZgVsgFRmhKzuJ~-3~-4ASqEitxyy2bQLTavLFcLQ6PP0zv4e3EHDkS9E5xQ__");
    opacity: 1;
  }
  .image-9-1-2304 {
    position: absolute;
    width: 482px;
    height: 350px;
    top: 0px;
    left: -132px;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
    border-radius: 0px 0px 0px 0px;
  }
  .frame-14-1-1452 {
    position: absolute;
    width: 1728px;
    height: 779px;
    top: 169px;
    left: 32px;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
    border-radius: 0px 0px 0px 0px;
  }
  .new-car-1-1470 {
    position: absolute;
    width: 170px;
    height: 60px;
    top: 50px;
    left: 100px;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    text-align: left;
    line-height: 0px;
  }
  .new-car-1-1470-0 {
    font-size: 39px;
    font-family: Poppins;
    font-weight: 400;
  
    text-decoration: none;
    text-transform: none;
  
    line-height: 40px;
    color: #000000ff;
  }
  
  .lamborghini-hur-1-715 {
    position: absolute;
    width: 334px;
    height: 45px;
    top: 515px;
    left: 1228px;
    opacity: 1;
    z-index: 2;
    transform: rotate(0deg);
    text-align: left;
    line-height: 0px;
  }
  .lamborghini-hur-1-715-0 {
    font-size: 29px;
    font-family: Poppins;
    font-weight: 400;
  
    text-decoration: none;
    text-transform: none;
  
    line-height: 30px;
    color: #000000ff;
  }
  
  .lotus-evija-1-3276 {
    position: absolute;
    width: 154px;
    height: 45px;
    top: 515px;
    left: 664px;
    opacity: 1;
    z-index: 3;
    transform: rotate(0deg);
    text-align: left;
    line-height: 0px;
  }
  .lotus-evija-1-3276-0 {
    font-size: 29px;
    font-family: Poppins;
    font-weight: 400;
  
    text-decoration: none;
    text-transform: none;
  
    line-height: 30px;
    color: #000000ff;
  }
  
  .group-18-1-1846 {
    position: absolute;
    width: 320px;
    height: 90px;
    top: 619px;
    left: 100px;
    opacity: 1;
    z-index: 1;
    transform: rotate(0deg);
  }
  .rectangle-4152-1-2552 {
    position: absolute;
    width: 320px;
    height: 90px;
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    border-radius: 0px 0px 0px 0px;
    background: #d9d9d9ff;
    box-sizing: border-box;
    border-left: 4px solid #000001ff;
    border-right: 4px solid #000001ff;
    border-top: 4px solid #000001ff;
    border-bottom: 4px solid #000001ff;
  }
  .discover-more-1-1134 {
    position: absolute;
    width: 282px;
    height: 60px;
    top: 20px;
    left: 24px;
    opacity: 1;
    z-index: 1;
    transform: rotate(0deg);
    text-align: left;
    line-height: 0px;
  }
  .discover-more-1-1134-0 {
    font-size: 39px;
    font-family: Poppins;
    font-weight: 400;
  
    text-decoration: none;
    text-transform: none;
  
    line-height: 40px;
    color: #000000ff;
  }
  
  .frame-15-1-1260 {
    position: absolute;
    width: 1728px;
    height: 779px;
    top: 169px;
    left: 32px;
    opacity: 1;
    z-index: 1;
    transform: rotate(0deg);
    overflow: hidden;
    border-radius: 0px 0px 0px 0px;
  }
  .new-car-1-966 {
    position: absolute;
    width: 170px;
    height: 60px;
    top: 50px;
    left: 100px;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    text-align: left;
    line-height: 0px;
  }
  .new-car-1-966-0 {
    font-size: 39px;
    font-family: Poppins;
    font-weight: 400;
  
    text-decoration: none;
    text-transform: none;
  
    line-height: 40px;
    color: #000000ff;
  }
  
  .lamborghini-hur-1-1006 {
    position: absolute;
    width: 334px;
    height: 45px;
    top: 515px;
    left: 1228px;
    opacity: 1;
    z-index: 2;
    transform: rotate(0deg);
    text-align: left;
    line-height: 0px;
  }
  .lamborghini-hur-1-1006-0 {
    font-size: 29px;
    font-family: Poppins;
    font-weight: 400;
  
    text-decoration: none;
    text-transform: none;
  
    line-height: 30px;
    color: #000000ff;
  }
  
  .lotus-evija-1-2614 {
    position: absolute;
    width: 154px;
    height: 45px;
    top: 515px;
    left: 664px;
    opacity: 1;
    z-index: 3;
    transform: rotate(0deg);
    text-align: left;
    line-height: 0px;
  }
  .lotus-evija-1-2614-0 {
    font-size: 29px;
    font-family: Poppins;
    font-weight: 400;
  
    text-decoration: none;
    text-transform: none;
  
    line-height: 30px;
    color: #000000ff;
  }
  
  .group-18-1-92 {
    position: absolute;
    width: 325px;
    height: 90px;
    top: 619px;
    left: 100px;
    opacity: 1;
    z-index: 1;
    transform: rotate(0deg);
  }
  .rectangle-4152-1-608 {
    position: absolute;
    width: 325px;
    height: 90px;
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    border-radius: 0px 0px 0px 0px;
    background: #d9d9d9ff;
    box-sizing: border-box;
    border-left: 4px solid #000001ff;
    border-right: 4px solid #000001ff;
    border-top: 4px solid #000001ff;
    border-bottom: 4px solid #000001ff;
  }
  .discover-more-1-734 {
    position: absolute;
    width: 282px;
    height: 60px;
    top: 20px;
    left: 24px;
    opacity: 1;
    z-index: 1;
    transform: rotate(0deg);
    text-align: left;
    line-height: 0px;
  }
  .discover-more-1-734-0 {
    font-size: 39px;
    font-family: Poppins;
    font-weight: 400;
  
    text-decoration: none;
    text-transform: none;
  
    line-height: 40px;
    color: #000000ff;
  }
  
  