<!doctype html>
<html>

  <head>
    <title>Login</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="login.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <form action="">
    <div v-if="currentPage === 2" class="page-break"></div>
    <div class="parent-div">
      <div class="login-1-1239" id="id-14577">
        <div class="group-16-1-253" id="id-14816">
          <div class="group-15-1-4753" id="id-14815">
            <div class="rectangle-13-1-336" id="id-145171"></div>
            <div class="masuk-1-891" id="id-145139">
              <span class="masuk-1-891-0">Masuk</span>
            </div>
            <div class="atau-1-2491" id="id-145157">
              <span class="atau-1-2491-0">Atau</span>
            </div>
            <div class="logo-1-2838" id="id-14594">
              <div class="g-1-1170" id="id-14595">
                <span class="g-1-1170-0">G</span>
              </div>
              <div class="f-1-2007" id="id-14596">
                <span class="f-1-2007-0">F</span>
              </div>
            </div>
            <div class="group-12-1-1848" id="id-145158">
              <div class="rectangle-4151-1-5" id="id-145159"></div>
              <div class="masuk-menggunak-1-1064" id="id-145162">
                <button class="masuk-menggunak-1-1064-0"> <span class="masuk-menggunak-1-1064-0"
                  >Masuk menggunakan Google</span
                ></button>
              </div>
              <div class="-icon-google-1-1-897" id="id-145160">
                <div class="vector-1-968" id="id-145161">
                  <div class="nodeBg-145161" id="id-bg-145161"></div>
                </div>
              </div>
            </div>
            <div class="group-10-1-4081" id="id-145140">
              <div class="line-3-1-86" id="id-145143"></div>
              <div class="nama-pengguna-1-2410" id="id-145141">
                <span class="nama-pengguna-1-2410-0">Nama Pengguna</span>
              </div>
              <div class="tulis-nama-peng-1-2550" id="id-145142">
                <input class="input" type="text" > 
              </div>
              <div class="-icon-user-1-735" id="id-145144">
                <div class="group-1-2660" id="id-145145">
                  <div class="vector-1-123" id="id-145146">
                    <div class="nodeBg-145146" id="id-bg-145146"></div>
                  </div>
                  <div class="vector-2-632" id="id-145147">
                    <div class="nodeBg-145147" id="id-bg-145147"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="group-11-1-972" id="id-145148">
              <div class="line-3-1-4095" id="id-145151"></div>
              <div class="kata-sandi-1-1702" id="id-145149">
                <span class="kata-sandi-1-1702-0">Kata Sandi</span>
              </div>
              <div class="tulis-kata-sand-1-3182" id="id-145150">
                    <input class="input" type="password" > 
              </div>
              <div class="-icon-lock-1-180" id="id-145152">
                <div class="group-1-468" id="id-145153">
                  <div class="vector-1-70" id="id-145154">
                    <div class="nodeBg-145154" id="id-bg-145154"></div>
                  </div>
                  <div class="vector-2-3822" id="id-145155">
                    <div class="nodeBg-145155" id="id-bg-145155"></div>
                  </div>
                  <div class="vector-3-2070" id="id-145156">
                    <div class="nodeBg-145156" id="id-bg-145156"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="group-13-1-990" id="id-145163">
              <div class="rectangle-4151-1-584" id="id-145164"></div>
              <div class="masuk-menggunak-1-1536" id="id-145165">
                <button class="masuk-menggunak-1-1064-0">
                  Masuk menggunakan Apple
                </button>
              </div>
              <div class="-icon-apple-1-2175" id="id-145166">
                <div class="group-1-2107" id="id-145167">
                  <div class="vector-1-4725" id="id-145168">
                    <div class="nodeBg-145168" id="id-bg-145168"></div>
                  </div>
                  <div class="vector-2-4592" id="id-145169">
                    <div class="nodeBg-145169" id="id-bg-145169"></div>
                  </div>
                  </div>
                  
              </div>
              <div>
                <!-- Added submit button here -->
                <button type="submit" class="submit-button">
                  Daftar
                </button>
              </div>
              <div class="vector-2-4592" id="id-145169">
                <div class="nodeBg-145169" id="id-bg-145169"></div>
              </div>
            </div>
          </div>
            </div>
        </div>
        
    </div>
        </div>
      </div>
    </div>
    <script src="scripts.js"></script>
    </form>
  </body>
</html>